h1
{
    color: rgb(14, 14, 13);
    text-align: center;
    background-color: red;
}
p{
    text-align:justify;
    text-transform: capitalize;
    text-decoration: none;
    text-indent: 10cm;
    /*line-height:100px;*/
    font-style:italic;
    font-weight:bold;
}
body
{
    background-image: url(1.jpg);
    background-repeat: no-repeat;
}