apiVersion: v1
clusters: null
contexts:
	- cluster:
		cluster: mycluster
		user: mushahid
		name: myc1
	- context:
		cluster: mycluster2
		user: tom2
		name: myc2
current-context: "myc1"
kind: Config
preferences: {}
users:
	- name: mushahid
	  user:
	  	client-key: "/root/client.key"
		client-certificate: "/root/certificate.crt"

