*{
    box-sizing: border-box;
}

body{
    min-height:100vh;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;

}

.card{
    background-color: hsl(216, 50%, 16%);
    max-width: 375px;
    padding: 1.6rem;
    /* position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);*/
    border-radius: 1rem; 
}

.card>img{
    width: 100%;
    border-radius: 10px;
}
h3{
    color: white;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

p{
    font-size: 1rem;
    color: hsl(215, 51%, 70%);
    font-weight: 400;
}


.balance{
    display: flex;
    justify-content: space-between;
}

.day-left>img{
    width: 1rem;
}
.eth>img{
    width: 0.6rem;
}

.eth{
    font-size: 1.1rem;
    color: hsl(178, 100%, 50%);
    font-weight: 500;
}

.day-left{
    color: hsl(215, 51%, 70%);

}

.line{
    border: 0.001px solid hsl(215, 32%, 27%);
    margin-block: 0.5rem;
}



.creator{
    color:hsl(215, 51%, 70%);
        display:flex;
        align-items: center;
        gap: 1rem;
}

.creator>img{
    width: 2.5rem;
    border: 2.5px solid white;
    border-radius: 100%;

    
}

.name{
    color: white;
}
