*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;
    background: #001422;
    width: 100vw;
    height: 100vh;
    position: relative;
   font-family: "Montserrat", sans-serif;

}

.top-small-circle{
    min-width: 140px;
    min-height: 140px;
    background: radial-gradient(#EA8BFA,#7526F5);
    border-radius: 100%;
    /* background: yellow; */
    position: fixed;
    top: 50px;
    left: 350px;

}

.top-big-circle{
    min-width: 330px;
    min-height: 330px;
    background: radial-gradient(#EA8BFA,#7526F5);
    border-radius: 100%;

    position: absolute;
    top:30px;
    left:800px;
}

.bottom-circle{
    min-width: 230px;
    min-height: 230px;
    background: radial-gradient(#EA8BFA,#7526F5);
    border-radius: 100%;
    position: absolute;
    left: 280px;
    bottom: 10px;
}


.container{
    max-width: 400px;
    height: 500px;
    background-color: rgba(255,255,255,0.3);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    z-index: 1;
    border-radius: 1rem;
    box-shadow: 0 3px 1rem -0.7px rgba(0, 0, 0,0.2);
    backdrop-filter: blur(22px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container{
    max-width: 380px;
    height: 480px;
    border: 0.7px solid rgba(255, 255, 255,0.3);
    border-radius: 1rem;
}

.photo{
    width: 100%;
}

.main{
    padding-inline: 1rem;
}

.category{
    display: flex;
    justify-content: space-between;
    margin-block: 0.7rem;

}

.beginner{
            color: #FFD147;
            padding: 0.2px 3px;
            border-radius: 6px;
            background-color: rgba(241, 198, 68, 0.239);
            font-size: 0.8rem;
}

.heart{
        /* display: inline-block; */
        height: 20px;
}

.title{
    font-weight: 600;
    font-size: 1.1rem;    
    color: white;
    line-height: 1.5;

}
.by{
    font-size: 12px;
    color: white;
    font-weight: 500;
    margin-block: 0.2rem;
}

.rating{
    display: flex;
    align-items: center;
    
}

.star{
    height: 1.5rem;
    margin-block    : 1rem;
}

.rate-no{
    color: #FFD147;
    margin-inline: 1rem;
}

.views{
    color: white;   
}
.line{
     border: 0.3px solid rgba(255, 255, 255,0.3);
}

/* .enrol>img{
    margin-right: 0.2rem;
} */


.footer{
    height: 80px;
    font-size:1rem;
    color: white;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;    
}