*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Courier New', Courier, monospace;
}

header{
    position:relative
}

header>h2{
    text-align: center;
    background: rgba(0, 0, 0, 0.298);
    padding-block: 20px;  
    display: flex;
    justify-content: space-between;
    width: 100%;

    position: sticky;
    top:0;
    /* bottom:0 */
}

section>h2{
    text-align: center;
}